/* Dark Grey Color: #28262C */

body {
	background-color: rgb(255, 245, 217);
	font-family: Arial;
}

/* --------------------------- UI Container --------------------------- */
.ui_container {
	margin: 0 auto;
	width: 90%;
	height: 98vh;
}

.ui_box {
	display: grid;
	width: 100%;
	height: calc(100% - 8px);
	border: 4px solid black;

	grid-template-areas: 'stats sitemap sitemap'
	'stats store expenses';
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1.2fr 1fr;
}

/* .ui_box * {
	border: 1px solid red;
} */

.ui_box > * {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border: 1.5px solid black;
	text-align: center;
}

/* --------------------------- Status Panel --------------------------- */
.stats {
	background-color: white;
	/* background-color: lightblue; */
	text-align: left;

	grid-area: stats;
}

.storage-graph {
	margin: 0 auto;
	width: 90%;
}

/* --------------------------- Site Panel --------------------------- */
.sitemap {
	display: flex;
	flex-direction: column;
	background-color: white;

	grid-area: sitemap;
}

/* --------------------------- Site Boxes --------------------------- */
.site_box_container {
	display: grid;
	margin: auto auto;
	width: 100%;
	height: 100%;

	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.site_box {
	margin: 20px auto;
	width: 80%;
	height: max-content;
	transition: 200ms ease-out;
}

.site_box.off {
	display: none;
}

.site_box.up .site_box_title {
	background-color: rgb(5, 180, 5);
	color: white;
}

.site_box.down .site_box_title {
	background-color: rgb(255, 0, 0);
	color: white;
}

.site_box * {
	padding: 10px;
}

.site_box_content {
	margin: auto auto;
}

.site_box_title {
	margin: auto auto;
	font-weight: 900;

	grid-area: title;
}

.site_box_stats {
	padding-top: 4px;
	height: 0;
	opacity: 0;
}

.site_box:hover {
	cursor: default;
}

.site_box:hover .site_box_stats {
	height: max-content;
	opacity: 1;
	transition: 200ms ease-out;
}

/* --------------------------- Store Panel --------------------------- */
.store {
	background-color: white;

	grid-area: store;
}

/* --------------------------- Store Tabs --------------------------- */
.tabs_container {
	border: 1px solid black;
}

.tab_set {
	display: flex;
	flex-direction: row;
	/* width: 100%; */
	border-bottom: 1px solid black;
}

.tab_title {
	padding: 10px;
	border-right: 1px solid black;
	cursor: pointer;
}

.tab.active .tab_title {
	background-color: #3284ff;
	color: white;
}

.tab_title:hover {
	background-color: rgb(119, 119, 119);
	color: white;
}

.tab_box .tab_content {
	display: none;
}

.tab_box {
	padding: 6px;
	padding-top: 0;
	/* border: 1px solid black; */
}

/* --------------------------- Store Table --------------------------- */
.item_row {
	display: flex;
	flex-direction: row;
	margin: 4px;
	padding: 6px;
	border: 1px solid black;

/* border-radius: 4px; */
	background-color: white;
}

.item_row_name {
	margin: auto auto;
	width: 10%;
}

.item_row_content_container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.item_row_content {
	padding: 6px;
	width: 70px;
	background-color: #3284ff;
	color: white;
	/* border-radius: 8px; */
}

.item_row_content:hover {
	background-color: #044389;
	cursor: pointer;
}

.item_row_hover_content_container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.item_row_hover_content {
	padding: 6px;
	width: 70px;
	background-color: #3284ff;
	color: white;
	/* border-radius: 8px; */
}

.item_row_hover_content:hover {
	background-color: #044389;
	cursor: pointer;
}

/* --------------------------- Expenses Panel --------------------------- */
.expenses {
	background-color: white;

	grid-area: expenses;
}


